<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@totalpave/cordova-plugin-libsqlite" version="0.0.14">
  <name>SQLite Binaries v3.39.2</name>
  <description>Cordova plugin that supplies the SQLite shared libraries for native dependencies</description>
  <author>Total Pave Inc.</author>
  <license>Apache 2.0</license>
  <keywords>cordova,cordova-android</keywords>
  <repo>https://github.com/totalpave/cordova-plugin-libsqlite</repo>

  <dependency id="@totalpave/cordova-plugin-libcxx" version="*" />
  
  <platform name="android">
    <framework src="src/android/sqlite.gradle" custom="true" type="gradleReference" />
    <lib-file src="bin/sqlite3.aar" />
  </platform>

  <platform name="ios">
    <hook type="after_plugin_install" src="hooks/ios/enableCXX17.py"/>
    <hook type="before_plugin_uninstall" src="hooks/ios/disableCXX17.py"/>
    <hook type="after_platform_add" src="hooks/ios/enableCXX17.py"/>
    
    <framework src="./bin/sqlite3.xcframework" custom="true" embed="true" link="true" />
  </platform>
</plugin>
