<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@totalpave/cordova-plugin-libsqlite" version="0.0.12">
  <name>SQLite Binaries</name>
  <description>Cordova plugin that supplies the SQLite shared libraries for native dependencies</description>
  <author>Total Pave Inc.</author>
  <license>Apache 2.0</license>
  <keywords>cordova,cordova-android</keywords>
  <repo>https://github.com/totalpave/cordova-plugin-libsqlite</repo>

  <dependency id="@totalpave/cordova-plugin-libcxx" version="*" />
  
  <platform name="android">
    <framework src="src/android/sqlite.gradle" custom="true" type="gradleReference" />
    <lib-file src="bin/sqlite3.aar" />
  </platform>

  <platform name="ios">
    <!-- 
      We are using hooks instead of the framework tab for sqlite3.xcframework due to the framework tag's behaviour being insufficient.
      XCFrameworks need to be embedded and linked to the application's binaries. This is also the default behaviour when dragging and dropped the XCFramework into XCode.

      This configuration does not link the binary; so it runs into linker errors during build
      <framework src="src/ios/frameworks/sqlite3.xcframework" custom="true" embed="true" />
  
      This configuration does not embed the binary; so it runs into runtime crash due to missing dylib file for physical devices. 
      Simulator works fine.
      <framework src="src/ios/frameworks/sqlite3.xcframework" custom="true"/>

      The hooks uses https://github.com/kronenthaler/mod-pbxproj to install the xcframework to the xcode project.
      The uninstall script uninstalls the xcframework from the xcode project.
    -->
    <hook type="after_plugin_install" src="hooks/ios/install-sqlite3.py"/>
    <hook type="before_plugin_uninstall" src="hooks/ios/uninstall-sqlite3.py"/>
  </platform>
</plugin>
